<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h2>Enter a message</h2>
    </div>
    <div id="history"></div>
    <div>
        <form action="/output" method="post">
            <input type="text" name="message">
            <hr>
            <button>send message</button>
            <hr>
            {% if result %}
            {{result}}
            {% endif %}
            <hr>
            {% if emotion %}
            {{emotion}}
            {% endif %}
        </form>
    </div>
</body>

</html>